<form name='todoForm' class="form-inline" novalidate>
  <div class="form-group" ng-class="{'has-error': (todoForm.$invalid && todoForm.title.$touched)}">
    <label>Todo title</label>
    <input type="text"
           ng-model='todoItem.title'
           class="form-control"
           name='title'
           ng-trim='true'
           required />
    <div class="help-block text-right" ng-if='todoForm.title.$invalid && todoForm.title.$touched'>
      <div ng-show='todoForm.title.$error.required'>Please enter title</div>
  </div>

  <hr />

  <div class="form-group">
    <button type='submit' class="btn btn-success" ng-click='action({todo: todoItem, form: todoForm})'>Add/Edit</button>
    <div class="btn btn-link" ui-sref='list.all' >Go back</div>
  </div>
</form>
